{% extends "../base.html" %}

{% block title %}
{{ site.name }}
{% end %}

{% block header %}
{% include '../home/header.html' %}
{% end %}
{% block css %}

{% if is_admin %}
{% end %}
<link rel="stylesheet" type="text/css" href="{{ site_base }}/common/js/bower/bodegas.client/dist/bodegas.client.css">
{% end %}


{% block javascript %}
<script type="text/javascript" src="{{ site_base }}/static/js/cart.config.js"></script>
<script type="text/javascript" src="{{ site_base }}/static/js/banners.js"></script>
<script type="text/javascript">
    $(document).ready(function()
    {
    //   
    $(document).on("click", ".subcateg", function(ev){
        // ev.preventDefault();
    $(".subcateg").removeClass('active');
        $(this).addClass('active');
    });

    });
</script>

{% end %}


{% block body %}

{% if is_admin %}
{% set editabletext = 'editabletext' %}
{% else %}
{% set editabletext = '' %}
{% end %}


<!-- *contenido* -->
<body id="lapimport">
   <div class="container min"> 
        <div class="logos-copy listado-texto">
            <div class=" logos-titulo {{editabletext}}" text-id="{{ site.name + 'text_main_listado_productos' }}">{{ read_text(site.name +  'text_main_listado_productos') }}</div>
        </div>
    </div>


<section>
   <div class="container min">

    <div class="products" style="min-height: 400px;margin-top: 90px;"></div>


    </div>
    <div class="col-xs-12">
      <div align="center">
         
         <button type="button" class="btn btn-default more-products" style="display: none">CARGAR MÁS PRODUCTOS</button>

      </div>
</section>




</body>


{% include '../home/footer.html' %}
{% end %}


