#footer{
    background-color: transparent;
    width: 100%;
    bottom: 0;
    position: relative;
    height: auto;
    padding: 0;
}

.linea-footer{
    border: 0.5px solid;
}

.firma {
    position: relative;
    text-align: center;
    font-size: 12px;
}


.no-dot{
    color: #ccc;
    font-weight: 100;
    font-size: 16px;
    margin-bottom: 0px;
    padding: 0px;
}

.d-o {
    left: 90px;
    position: relative;
    top: 0px;
    margin-bottom: 0px;
}

.a-footer{
    position: relative;
    left: 13px;
    top: 11px;
    font-size: 12px;
    color:black;
}
.l-footer-footer{
    max-height: 200px;
    width: 120px;
}
/*----------------Responsive---------------------*/

@media (max-width: 991px){
    .no-dot {
        font-size: 14px;
    }

    .d-o {
        left: 85px;
        position: relative;
        top: 0px;
        margin-bottom: 0px;
    }

    .inform-2.su {
        position: relative;
        left: 0px;
    }

}

@media (max-width: 838px){
    .d-o {
        left:60px;
        position:relative;
        width: 100%;
    }
}

@media (max-width: 767px){
    .inform-comerc{
        text-align: center;
    }

    .inform-2 {
        text-align: center;
    }

    .d-o{
        text-align: center;
        left: 0px;
    }

    .inform{
        text-align: center;
    }

    .a-footer{
        position: relative;
        right: 0px;
    }

    .d-o {
        text-align: center;
        left: 0px;
        width: 100%;
    }
}

@media (max-width: 414px){
    .firma{
        margin-top: 58px;
    }
}