.art-hi
{
    overflow: hidden;
    padding: 0px 10px;
    max-height: 351px;
}

.btn-success.comprar
{
    color: #fff;
    background-color: gray;
    border-color: gray;
    border-radius: 0px;
    font-size: 15px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.btn-success.comprar:hover
{
    color: gray;
    background-color: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.btn-success.comprar.detail-btn-comprar
{
    right: 30%;
}

.btn-success.comprar.menu-btn-comprar
{
    position: absolute;
    bottom: 0%;
    right: 37%;
    height: 9%;
    background-color: #9a1f31;
}

.btn-success.comprar.menu-btn-comprar:hover
{
    background-color: white;
    color: #9a1f31;
}

.clearfix-dos
{
    margin-top: 0px;
    margin-bottom: 0px;
}

.descr_prod_detail
{
    position: relative;
    font-size: 15px;
    width: 88%;
    text-align: left;
    height: 100%;
    top: -16px;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
}

.fondo-detalle
{
    width: 100%;
    height: 400px;
    object-fit: scale-down;
    filter: grayscale(0%) brightness(100%);
    -webkit-filter: grayscale(0%) brightness(100%);
    -moz-filter: grayscale(0%) brightness(100%);
    -ms-filter: grayscale(0%) brightness(100%);
    -o-filter: grayscale(0%) brightness(100%);
    position: relative;
}

.fufi-index
{
    position: relative;
    width: 100%;
    margin: auto;
}

.fufi-index:hover,
.fufi-index:hover .overlay-index
{
    opacity: 1;
}

.img-pro-index
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 22px;
    padding-left: 0px;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    margin: 11px auto;
}

.inf
{
    position: relative;
    bottom: 11px;
    width: 100%;
    margin-top: 25px;
    text-align: center;
    left: 0%;
    color: black;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 35px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 50px;
}

.main-img-container
{
    position: relative;
    top: 30px;
}

.mover
{
    position: relative;
    right: 20px;
    margin-bottom: 15px;
}

.name_prod_detail
{
    position: relative;
    top: 6px;
    font-size: 20px;
    color: black;
    text-align: left;
    height: 54px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-weight: bold;
}

.overlay-index
{
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 63%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.36);
}

.product-detail
{
    margin-top: 50px;
}

.product-price-2
{
    position: relative;
    top: 6px;
    font-size: 18px;
    color: black;
    text-align: left;
    height: 54px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
}

.product-price-3
{
    position: relative;
    top: -48px;
    font-size: 15px;
    color: black;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
}

.text
{
    color: white;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.text:hover
{
    background-color: rgba(128, 128, 128, 0.8);
    font-size: 14px;
    padding: 10px 32px;
    border: 2px solid white;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#mainImage
{
    width: 100%;
    height: 400px;
    object-fit: scale-down;
    top: -34px;
    right: 16px;
    position: relative;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

/*----------------------------------------------------Responsive----------------------------------------------*/
/* iPad Pro */
@media (max-width:1024px)
{
    .btn-success.comprar.menu-btn-comprar
    {
        height: auto;
    }

    .img-ppal-movil
    {
        margin-left: 45px;
    }

    #mainImage
    {
        height: 500px;
        top: 0px;
        right: 27px;
    }
}

/* iPad Mini, iPad */
@media (max-width:991px)
{
    .btn-success.comprar.detail-btn-comprar
    {
        right: 17%;
        bottom: 5%;
    }

    .btn-success.comprar.menu-btn-comprar
    {
        right: 30%;
    }

    .img-ppal-movil
    {
        margin-left: 30px;
    }

    .img-pro-index
    {
        height: 150px;
        margin-bottom: 25px;
    }

    .inf
    {
        width: 97%;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 40px;
    }

    .overlay-index
    {
        height: 52%;
    }

    .product-detail
    {
        margin-top: 70px;
    }

    .text-prod-desk
    {
        margin-top: 80px;
    }
}

/* iPhone 6/7/8 plus */
@media (max-width:436px)
{
    .art-hi
    {
        max-height: none;
    }

    .btn-success.comprar.detail-btn-comprar
    {
        right: 23%;
        bottom: 5%;
    }

    .btn-success.comprar.menu-btn-comprar
    {
        right: 38%;
        bottom: 5%;
    }

    .fufi-index
    {
        margin-bottom: 50px;
    }

    .fufi-index.detail-btn-comprar
    {
        height: 250px;
    }

    .img-ppal-movil
    {
        position: relative;
        top: 35px;
        margin-left: inherit;
    }

    .img-pro-index
    {
        height: 100%;
        margin: 15px auto;
    }

    .inf
    {
        width: 100%;
        font-size: 17px;
        margin-bottom: 0px;
        height: auto;
    }

    .overlay-index
    {
        height: 77%;
    }

    .product-detail
    {
        margin-top: 0px;
    }

    .product-price-3
    {
        bottom: 10px;
        top: inherit;
    }

    .text
    {
        font-size: 13px;
    }

    .text:hover
    {
        font-size: 10px;
        padding: 8px 20px;
    }

    .texto-hu-2
    {
        position: absolute;
        bottom: 70px;
        color: white;
        text-align: left;
        padding-left: 13px;
        padding-right: 13px;
        font-size: 22px;
        font-weight: 400;
        width: 80%;
        left: 20px;
    }

    #mainImage
    {
        right: 0px;
        height: 235px;
    }
}

/* Pixel 2 XL */
@media (max-width:414px)
{
    .banner-movil
    {
        height: 95px !important;
        margin-top: 40px !important;
        margin-bottom: -5px !important;
    }

    .descr_prod_detail
    {
        font-size: 19px;
        width: 100%;
        top: 4px;
    }

    .name_prod_detail
    {
        top: 5px;
        font-size: 23px;
        height: auto;
    }

    .overlay-index
    {
        height: 233px;
    }
}

/* iPhone 6/7/8, iPhone x*/
@media (max-width:400px)
{
    .btn-success.comprar.detail-btn-comprar
    {
        right: 15%;
        bottom: 5%;
    }

    .btn-success.comprar.menu-btn-comprar
    {
        right: 36%;
        bottom: 5%;
    }

    .overlay-index
    {
        height: 210px;
    }
}

/* Galaxy S5 */
@media (max-width:360px)
{
    .btn-success.comprar.detail-btn-comprar
    {
        right: 12%;
    }

    .descr_prod_detail
    {
        font-size: 13px;
        height: auto;
        top: 30px;
        margin-bottom: 13%;
    }

    .img-ppal-movil
    {
        position: relative;
        top: 53px;
    }

    .overlay-index
    {
        height: 200px;
    }

    #mainImage
    {
        height: 200px;
        margin-top: 15px;
        right: 7px;
    }
}

/* iPhone 4, iPhone 5/SE */
@media (max-width:320px)
{
    .art-hi
    {
        height: 330px;
    }

    .banner-movil
    {
        height: 75px !important;
        margin-top: 42px !important;
        margin-bottom: -3px !important;
    }

    .btn-success.comprar.detail-btn-comprar
    {
        right: 5%;
        bottom: 10%;
    }

    .btn-success.comprar.menu-btn-comprar
    {
        right: 33%;
        bottom: 5%;
    }

    .descr_prod_detail
    {
        font-size: 12px;
    }

    .main-img-container
    {
        top: 0px;
    }

    .img-ppal-movil
    {
        position: relative;
        top: 86px;
    }

    .overlay-index
    {
        height: 175px;
    }
}
