html * {
/*-webkit-font-smoothing: antialiased;*/
/*-moz-osx-font-smoothing: grayscale;*/

}

html, body {
/*font-family: 'Open Sans', sans-serif;*/
   font-family: 'Montserrat', sans-serif;
   margin: 0 auto;
   overflow-x:hidden;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

a:visited{
      color: black;
}

a:link{
      color: black;
}
.link-banner{
    position: absolute;
    width: 80%;
    height:100%;
    left: 120px;
}

.container-banner:first-child{
    padding-left: 0px;
}

.container-banner:last-child{
    padding-right: 0px;
}

.banner-home{
    width: 100%;
    object-fit: cover;
    position: relative;
    height: 350px;
}

a:focus {
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

a:hover, a:focus {
    color: black;
    text-decoration: none;
}

li{
    list-style: none;
}

.container.min{
    width: 1124px;
}

img.editablelink {
    position: absolute;
    left: 20px;
    bottom: 20px;
    z-index: 1030 !important;
}

div.image-upload {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1030 !important;
}

div.image-upload.par1 {
    position: absolute;
    right: 20px;
    top: 81px;
    z-index: 100000;
}
.nav>li>a {
    font-size: 13px;
}

.texto-one{
    position: relative;
    font-size: 20px;
    font-weight: 400;
    color:black;
    margin-bottom: 4%;
    margin-top: -23px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

div.image-upload.con {
    position: absolute;
    right: 20px;
    top: 86px;
    z-index: 100000;
}

.editableimage{
    width: 100%;
}

.carousel-inner{
    height: 400px;
}

.menu-center{
    position: relative;
    right: 14%;
    width: 56%;
}

#slider-home{
    padding: 0;
    position: relative;
    top: 0px;
    margin-bottom: 65px;
    margin-left: 0;
    margin-right: 0;
}

div.upload input, div.image-upload input {
    position: absolute;
    left: auto;
    right: 0px;
    top: 0px;
    margin: 0;
    padding: 0;
    opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.carousel-control .fa-angle-left, .carousel-control .icon-prev {
    margin-left: -15px;
    margin-top: 190px;
    font-size: 40px;
}
.carousel-control .fa-angle-right, .carousel-control .icon-next {
    margin-right: -15px;
    margin-top: 190px;
    font-size: 40px;
}

.col-md-6 {
    margin-bottom: 26px;
}

/*-----------------------------------------------Responsive--------------------------------------------------*/
@media (max-width:1199px){

    .container.min{
     width: 100%;
    }

    .carousel-inner {
        height: 370px;
    }
}

@media (max-width: 1024px){
    .carousel-inner {
        height: 370px;
    }
}

@media (max-width: 991px){
    .carousel-inner {
        height: 320px;
        margin-top: 70px;
    }
}

@media (max-width: 800px){
    .carousel-inner {
        height: 270px;
        margin-top: 70px;
    }
}

@media (max-width: 767px){
    .carousel-inner {
        height: 270px;
        margin-top: 70px;
    }
}


@media (max-width: 500px){
    #slider-home{
        top:90px;
        margin-top: -126px;
    }

    .texto-one {
        position: relative;
        /* top: 61px; */
        font-size: 20px;
        font-weight: 400;
        color: #333;
        margin-bottom: 4%;
        margin-top: 60px;
    }

    .carousel-inner {
        height: 126px;
    }

    .carousel-control .fa-angle-left, .carousel-control .icon-prev {
        margin-top: 50px;
    }

    .carousel-control .fa-angle-right, .carousel-control .icon-next {
        margin-top: 50px;
    }
}