html * {
/*-webkit-font-smoothing: antialiased;*/
/*-moz-osx-font-smoothing: grayscale;*/

}

html, body {
/*font-family: 'Open Sans', sans-serif;*/
   font-family: 'Amiri', serif !important;
   margin: 0 auto;
   overflow-x:hidden;
   color: #c1bfbf !important;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

a:visited{
      color: #c1bfbf !important;
}

a:link{
      color: #c1bfbf !important;
}

.banner-titulo {
  font-size: 2.5rem;
  color: #d0cdcd;
  padding: 1.0833rem 0 0 1.0833rem;
    padding: 0;
    position: absolute;
    bottom: 1.0833rem;
    left: 1.0833rem;
    left: 0.8125rem;
    bottom: 0.8125rem;
    font-size: 3.875rem;
  }

  .banner-titulo-alt {
    z-index: 10015;
    left: 0;
    bottom: 0;
    width: 96%;
    height: 100%;
    overflow: hidden;
  }

.banner-titulo-alt:last-child {
    z-index: 10015;
    left: 15px;
    bottom: 0;
    width: 90%;
    text-align: center;
    height: 60%;
    overflow: hidden;
  }

.banner-titulo-alt-2 {
    z-index: 10015;
    left: 15px;
    bottom: 0;
    text-align: center;
    width: 90%;
    height: 60%;
    overflow: hidden;
  }

.overlay {
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
    opacity: 0;
    height: 350px;
    position: relative;
    top: -350px;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
}

.box:hover .overlay {
  opacity: 1;
}

.row-img-little{
    padding-left: 0;
    padding-right: 0;
}

.img_prod_little {
    padding-left: 0;
}

.img-ppal-movil {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

.text-prod-desk {
    padding-left: 0;
}

.logo_wrapper{
    margin-left: -12px;
}

.link-banner{
    position: absolute;
    width: 80%;
    height:100%;
    left: 120px;
}

.prod-name{
    font-size: 25px;
}

.container-banner:first-child{
    padding-left: 0px;
}

.container-banner:last-child{
    padding-right: 0px;
}

.container-banner{
    height: 350px;
}

.lista-item-img{
    width: 100%;
}

.banner-home{
    width: 100%;
    object-fit: cover;
    position: relative;
    height: 350px;
}

a:focus {
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

a:hover, a:focus {
    color: black;
    text-decoration: none;
}

li{
    list-style: none;
}

.container.min{
    width: 1124px;
}

img.editablelink {
    position: absolute;
    left: 20px;
    bottom: 20px;
    z-index: 100000 !important;
}

div.image-upload {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1030 !important;
}

div.image-upload.par1 {
    position: absolute;
    right: 20px;
    top: 81px;
    z-index: 100000;
}
.nav>li>a {
    font-size: 13px;
}

.texto-one{
    position: relative;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 4%;
    margin-top: -23px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

div.image-upload.con {
    position: absolute;
    right: 20px;
    top: 86px;
    z-index: 100000;
}

.editableimage{
    width: 100%;
}

.carousel-inner{
    height: 400px;
}

.menu-center{
    position: relative;
    right: 14%;
    width: 56%;
}

#slider-home{
    padding: 0;
    position: relative;
    top: 0px;
    margin-bottom: 65px;
    margin-left: 0;
    margin-right: 0;
}

div.upload input, div.image-upload input {
    position: absolute;
    left: auto;
    right: 0px;
    top: 0px;
    margin: 0;
    padding: 0;
    opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.carousel-control .fa-angle-left, .carousel-control .icon-prev {
    margin-left: -15px;
    margin-top: 190px;
    font-size: 40px;
}
.carousel-control .fa-angle-right, .carousel-control .icon-next {
    margin-right: -15px;
    margin-top: 190px;
    font-size: 40px;
}

.col-md-6 {
    margin-bottom: 26px;
}

/*-----------------------------------------------Responsive--------------------------------------------------*/
@media (max-width:1199px){

    .container.min{
     width: 100%;
    }

    .carousel-inner {
        height: 370px;
    }
}

@media (max-width: 1024px){
    .carousel-inner {
        height: 370px;
    }
}

@media (max-width: 991px){
    .carousel-inner {
        height: 320px;
        margin-top: 70px;
    }

    .container-banner{
        margin-bottom: 20px;
    }

    .container-banner:first-child{
        padding-left: 15px;
    }

    .container-banner:last-child{
        padding-right: 15px;
    }
}

@media (max-width: 800px){
    .carousel-inner {
        height: 270px;
        margin-top: 70px;
    }
}

@media (max-width: 767px){
    .carousel-inner {
        height: 270px;
        margin-top: 70px;
    }
}


@media (max-width: 500px){
    #slider-home{
        top: 126px;
        margin-bottom: 157px;
        margin-top: -126px;
    }

    .texto-one {
        position: relative;
        /* top: 61px; */
        font-size: 20px;
        font-weight: 400;
        color: #333;
        margin-bottom: 4%;
        margin-top: 60px;
    }

    .carousel-inner {
        height: 126px;
    }

    .carousel-control .fa-angle-left, .carousel-control .icon-prev {
        margin-top: 50px;
    }

    .carousel-control .fa-angle-right, .carousel-control .icon-next {
        margin-top: 50px;
    }
}