{% extends "../base.html" %}

{% block title %}
{{ site.name }}
{% end %}

{% block head %}
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />

{% end %}

{% block header %}
{% include '../home/header.html' %}
{% end %}

{% block scripts %}
<script type="text/javascript">
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  if ($('#imgChica').hasClass('hidden')) {
    $('#imgChica').style.display = "none";
  }
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
     dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
  }
  x[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " w3-opacity-off";
  
}
</script>

<script type="text/javascript">
$(document).ready(function() {

    /*** used by cart config **/
    var slideIndex = 1;
    var plusDivs = function(n) 
    {
        showDivs(slideIndex += n);
    };
    var showDivs = function(n) 
    {
        // define some vars
        var i;
        var x = $('.mySlides:not(.hidden)');
        var next;

        // set current index
        if (n > x.length)
        {
            slideIndex = 1
        }

        // set limit conditions
        if (n < 1)
        {
            slideIndex = x.length
        }

        // hide all images
        x.css('display', 'none');

        // show the current
        next = $(x[slideIndex-1]);
        next.css('display', 'block');
    };

    var base_url = $.environmentVar(
        'https://apibodegas.loadingplay.com/',
        'https://apibodegas.ondev.today/',
        'https://apibodegas.loadingplay.com/');
    var checkout_url = $.environmentVar(
        'https://pay.loadingplay.com/',
        'https://lpcheckout.ondev.today/',
        'https://pay.loadingplay.com');
    var app_public = $.environmentVar(82,82,82);
    var site_name = $.environmentVar('gustocasero', 'gustocasero', 'gustocasero');
    var config = {
        'app_public': app_public,
        'base_url': base_url,
        'products_per_page': 9,
        'ignore_stock': false,
        'infinite_scroll': true,
        'animation': 'ghost',
        'product_id' : {{ product_id }},
        // 'maxProducts': 100,
        'checkout_url': checkout_url,
        'operator': 'or',
        'container': '.product-detail',
        'onLoad': function(products) {
        }
    };

    $('.product-detail').ecommerce("product_detail", config);
});
</script>
<script type="text/template" id="product_detail">
    <div class="w3-col s4">
      <img class="demo w3-opacity w3-hover-opacity-off {{! images[0]['thumb_200']|hide_if_empty }}" src="{{! images [0]['thumb_200'] }}" id="imgChica" onclick="currentDiv(1)">
      <img class="demo w3-opacity w3-hover-opacity-off imagenesChicas {{! images[1]['thumb_200']|hide_if_empty }}" src="{{! images [1]['thumb_200'] }}" id="imgChica" onclick="currentDiv(2)">
      <img class="demo w3-opacity w3-hover-opacity-off imagenesChicas {{! images[2]['thumb_200']|hide_if_empty }}" src="{{! images [2]['thumb_200'] }}" id="imgChica" onclick="currentDiv(3)">
      <img class="demo w3-opacity w3-hover-opacity-off imagenesChicas {{! images[3]['thumb_200']|hide_if_empty }}" src="{{! images [3]['thumb_200'] }}" id="imgChica" onclick="currentDiv(4)">
      <img class="demo w3-opacity w3-hover-opacity-off imagenesChicas {{! images[4]['thumb_200']|hide_if_empty }}" src="{{! images [4]['thumb_200'] }}" id="imgChica" onclick="currentDiv(5)">
    </div>
    <div class="col-md-6 col-xs-12">
        <div class="prod-name">{{! name }}</div>
        <br>
        <div>
          <div>{{! main_price|money }}</div>
        </div>
        <br>
        <input 
        type="button" 
        product-id="{{! id }}" 
        product-name="{{! name }}" 
        product-img="{{! images[0]['thumb_200'] }}" 
        product-price="{{! main_price }}" 
        product-upp="{{! upp }}" 
        id="busca" 
        data-toggle="modal" 
        class="add-to-cart comp boton-comprar-detalle" 
        data-target="#myModal" 
        value="COMPRAR" 
        product-sku="{{! sku }}" 
        product-weight="{{! weight }}" 
        lp-cart-add">
        <div>
            <div>{! description}}</div>
        </div>
    </div>
    <div class="clearfix"></div>
</script>

{% end %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ site_base }}/common/js/bower/bodegas.client/dist/bodegas.client.css">
<link rel="stylesheet" href="{{site_base}}/static/ocul.css" >
{% end %}

{% block body %}
{% if is_admin %}
{% set editabletext = 'editabletext' %}
{% else %}
{% set editabletext = '' %}
{% end %}

<div class="contenedor" id="fondo_detalle">
    <div class="clearfix" style="padding-top:85px"></div>
    <div class="product-detail container" style="padding-top: 100px;margin-left: 4%">
    </div>
    <div class="clearfix" style="padding-bottom: 150px"></div></div>
{% include '../home/footer.html' %}
</div>
{% end %}
